.nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1.5rem;
}

.site-title {
    font-size: 1.5rem;
}

.link-title {
    font-size: 0.9rem;
    font-weight: 300;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    cursor: pointer;
}

.nav li.active {
    cursor: default;
    pointer-events: none;
    font-weight: 700;
}

.nav li:hover {
    padding-top: 3px;
    border-bottom: 3px solid white;
}