@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --green:#008000;
  --dark-green:#034b00;
  --yellow:#fff700;
  --dark-yellow:#9d8300;
  --red:#ff0000;
  --dark-red:#990000;
  --blue:#008c9f;
  --dark-blue:#186487;
  --black:#444;
  --light-color:#666;
  --border:.1rem solid rgba(0,0,0,.1);
  --border-hover:.1rem solid var(--black);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }

.page-btn:hover{
    background:var(--dark-color);
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 15px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 5px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.autor {
  margin-bottom: 5px;
  font-size: 15px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.edit {
  margin-bottom: 5px;
  font-size: 11px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 44px;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: url("./images/bg2.jpg");
  background-color: #cccccc;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1.5rem;
}

.site-title {
  font-size: 1.5rem;
}

.link-title {
  font-size: 0.9rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  cursor: pointer;
}

.nav li.active {
  background-color: #555;
  cursor: default;
  pointer-events: none;
}

.nav li:hover {
  background-color: #777;
}

.log-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: left;
  color: #000000
}
  
.log-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.log-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.log-inner {
  font-size: 1rem;
  width: 600px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 7px;
  transition: all .3s;
}

.reg-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: left;
  color: #000000
}
  
.reg-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.reg-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.reg-inner {
  font-size: 1rem;
  width: 800px;
  margin: auto;
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 7px;
  transition: all .3s;
}

.btn-light {
  border-radius: 25%;
}

.btn-light:hover {
  background-color: rgb(160, 160, 160);
  border-color: rgb(160, 160, 160);
}

.bi-plus-lg {
  color: black;
  font-size: large;
}

.generic-text {
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #585858;
  margin: 0;
}

.reset-link {
  text-decoration: none;
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #167bff;
  margin: 0;
}

.reset-link a {
  text-decoration: none;
}

.show-btn {
  width: 45px;
  margin: auto;
  background: #ffffff;
  padding: 10px 15px 10px 15px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: right;
}

.reg-warning {
  font-size: 0.8rem;
  margin-top: 0px;
  color: rgb(172, 37, 37);
  text-align: left;
  justify-content: left;
}

.reg-warning-pass {
  font-size: 0.8rem;
  margin-top: -15px;
  color: rgb(172, 37, 37);
  text-align: left;
  justify-content: left;
}

.form-control {
  font-size: 0.8rem
}

.button-return {
  display: flex;
  text-align: center;
  justify-content: center;
}

.pagination-grid {
  width: 300px;
  margin: auto;
  padding: 10px 15px 10px 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.paginationBttns {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: white;
}

.paginationBttns a {
  text-decoration: none;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  background-color:rgb(115, 122, 161);
  color: white;
  cursor: pointer;
}

.paginationBttns a:hover {
  text-decoration: none;
  background:rgb(63, 166, 234)
}

.paginationActive a {
  text-decoration: none;
  color: rgb(128, 128, 128);
  background-color:rgb(20, 63, 92);
}

.paginationDisabled a {
  text-decoration: none;
  color: black;
  background-color: rgb(75, 75, 75);
  cursor: default;
  background: rgb(75, 75, 75);
}

.paginationDisabled a:hover {
  cursor: default;
  background: rgb(75, 75, 75);
}

.spinner {
  position: relative;
  padding-top: 10px;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.symbol-crypto {
  text-size-adjust: 10%;
  color: grey;
}

.text-success {
  color: green
}

.text-danger {
  color: red
}

.table {
  font-size: 70%;
  width: 105;
  cursor: pointer;
  user-select: none;
}

.table-alignment {
  text-align: left;
}

.search-box {
  width: 300px;
  border-radius: 15px;
  padding: 4px 10px 5px 10px;
  font-size: 1rem;
  background-image: url("./bootstrap-icons/search.svg");
  background-position: 95%;
  background-repeat: no-repeat;
  opacity: 85%;
}

.search-box:focus {
  background-image: none;
}

.top-index {
  margin-top: 20px;
  padding-top: 50px;
}

.link-deco {
  text-decoration: none;
  cursor: pointer;
}

div#container {
  height: 200px;
  width: 300px;
  overflow: scroll;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid #AAAAAA;
}

div#content {
  height: 1000px;
  outline: none;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

.icon-position{
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}

.btn-warn {
  color: var(--dark-blue);
  border-radius: 15px;
  padding-bottom: 9px;
  padding-top: 7px;
}

.btn-warn-top {
  color: var(--dark-yellow);
  border-radius: 15px;
  padding-bottom: 9px;
  padding-top: 7px;
  position: fixed;
  right:    10px;
  bottom:   10px;
}

.btn-warn-top-hidden {
  visibility: hidden;
}

.sort {
  padding-left: 5px;
}
